<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{#if title}}{{capitalizeFirst title}} | {{/if}}Evolv Properties London</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<meta name="description" content="Our goal is to provide a uniquely tailored service to our clients, catering to the Prime Central London property market. We are a boutique agency that offers individual focus and detailed services which go above and beyond client expectations every time.">

	<link rel="shortcut" type="image/x-icon" href="/img/logo.ico">
	<link rel="icon" type="image/x-icon" href="/img/logo.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="/styles/main.css">

  <!-- Fetch api poly-->
  <script type="text/javascript" src="/scripts/whatwg-fetch.js"></script>
</head>
<body>
  {{> navbar}}

  {{! This is where the views will be rendered }}
  {{{body}}}

  {{> footer}}


  <!-- Scripts -->
  <script src="/js/common.js"></script>
  <script src="/scripts/x-div.js"></script>
</body>
</html>
