<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evolv {{#if title}}- {{capitalizeFirst title}}{{/if}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="shortcut" type="image/x-icon" href="/img/logo.ico">
	<link rel="icon" type="image/x-icon" href="/img/logo.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="/styles/main.css">

  <!-- Fetch api poly-->
  <script type="text/javascript" src="/scripts/whatwg-fetch.js"></script>
</head>
<body>
  {{> navbar}}

  {{! This is where the views will be rendered }}
  {{{body}}}

  {{> footer}}


  <!-- Scripts -->
  <script src="/js/common.js"></script>
  <script src="/scripts/x-div.js"></script>
</body>
</html>
