.ContactForm_container {
  @extend .grey-bg;
  padding: 2em 5em;
  max-width: 600px;
  margin: auto;

  @media (max-width: $screen-xs-max) {
    padding-left: $padding-side-xs-screen;
    padding-right: $padding-side-xs-screen;
  }
}
.ContactForm_mainTitle {

}

.ContactForm_errorMessage {
  color: red;
  margin: 0;
  font-size: 14px;

  + [class*="ContactForm_input"] {
    margin-top: 0;
  }
}

[class*="ContactForm_input"] {
  width: 100%;
  min-height: 3em;
  margin: 0 0 1em;
  padding: 1em 2em;

  border: 0;
  outline-color: $darkmost-blue;

  background-color: $white;
  color: $darkmost-blue;

  text-align: left;

  @include placeholder {
    color: $darkmost-blue;
  }

}

.ContactForm_input-select {
  appearance: menulist-button;
  height: 51px;
  text-indent: calc(2em - 10px);
}
.ContactForm_input-text {
}
.ContactForm_input-textarea {
  min-height: 7em;
}
.ContactForm_input-checkbox {

}
.ContactForm_input-submitBtn {
  color: $white;
  background-color: $navy;
  text-align: center;
}
