.ContactForm_container {
  @extend .grey-bg;
  padding: 2em;
  max-width: 600px;
  margin: auto;
}
.ContactForm_mainTitle {

}

@mixin ContactForm_field {
  width: 100%;
  min-height: 3em;
  margin: 0 0 1em;
  padding: .5em 1em .5em 1em;

  border: 0;
  outline-color: $darkmost-blue;

  background-color: $white;
  color: $darkmost-blue;

  text-align: left;

  @include placeholder {
    color: $darkmost-blue;
  }
}

.ContactForm_select {
  @include ContactForm_field();
}
.ContactForm_text {
  @include ContactForm_field();

}
.ContactForm_textarea {
  @include ContactForm_field();

}
.ContactForm_checkbox {
  @include ContactForm_field();

}
.ContactForm_submitBtn {
  @include ContactForm_field();
  color: $white;
  background-color: $navy;
  text-align: center;
}
