<section class="page-section arrival-section">

  <div class="main-headers">
    <h1 class="main-header">Constantly evolv(ing)</h1>
    <h2 class="main-subheader">Luxury London Living</h2>
  </div>
</section>
