  <section class="page-section grey-bg">
    <article class="property-article">
      <div class="article-row property-article-header">
        <h1>Bradbourne Street, London SW6 4TJ</h1>
        <button class="flat-btn">Book a viewing</button>
      </div>

      <div class="article-tabs tabs">
        <input id="article_property1" type="radio" name="article_property" checked>
        <input id="article_property2" type="radio" name="article_property">
        <input id="article_property3" type="radio" name="article_property">
        <input id="article_property4" type="radio" name="article_property">
        <div class="tab-content"> <!-- image slider -->
          <div class="img-slider">
            <ul class="slider">

                <input type="radio" name="radio-btn" id="img-1" checked />
                <li class="slide-container">
            		<div class="slide">
            			<img src="{{data.property.image.secure_url}}" />
                    </div>
            		<div class="slider-nav">
            			<label for="img-2" class="next"><i class="fa fa-angle-right"></i></label>
            		</div>
                </li>

                <input type="radio" name="radio-btn" id="img-2" />
                <li class="slide-container">
                    <div class="slide">
                      <img src="img/prop-img-6.jpg" />
                    </div>
            		<div class="slider-nav">
            			<label for="img-1" class="prev"><i class="fa fa-angle-left"></i></label>
            			<label for="img-3" class="next"><i class="fa fa-angle-right"></i></label>
            		</div>
                </li>

                <input type="radio" name="radio-btn" id="img-3" />
                <li class="slide-container">
                    <div class="slide">
                      <img src="img/prop-img-7.jpg" />
                    </div>
            		<div class="slider-nav">
            			<label for="img-2" class="prev"><i class="fa fa-angle-left"></i></label>
                  <label for="img-4" class="next"><i class="fa fa-angle-right"></i></label>
            		</div>
                </li>

                <input type="radio" name="radio-btn" id="img-4" />
                <li class="slide-container">
                    <div class="slide">
                      <img src="img/prop-img-8.jpg" />
                    </div>
                <div class="slider-nav">
                  <label for="img-3" class="prev"><i class="fa fa-angle-left"></i></label>
                  <label for="img-5" class="next"><i class="fa fa-angle-right"></i></label>
                </div>
                </li>

                <input type="radio" name="radio-btn" id="img-5" />
                <li class="slide-container">
                    <div class="slide">
                      <img src="img/prop-img-9.jpg" />
                    </div>
                <div class="slider-nav">
                  <label for="img-4" class="prev"><i class="fa fa-angle-left"></i></label>
                </div>
                </li>
            </ul>
          </div>
        </div> <!-- / image slider -->
        <div class="tab-content property-image">
          <img src="img/floor-plan.jpg" alt="EPC">
        </div>
        <div class="tab-content property-image">
          <img src="img/epc-1.jpg" alt="EPC">
        </div>
        <div class="tab-content">
          <div class="js-property-map property-map"></div>
        </div>
        <div class="article-row article-tabs-bottom-bar">
          <nav class="article-tabs-labels js-property-article-tab-labels">
            <li><label for="article_property1">Photos    </label></li>
            <li><label for="article_property2">Floor Plan</label></li>
            <li><label for="article_property3">EPC       </label></li>
            <li><label for="article_property4" class="js-map-label">Map       </label></li>
          </nav>
          <ul class="property-article-side-buttons">
            <li class="js-article-print"><i class="fa fa-print"></i></li>
            <!-- <li class="js-article-mail"><i class="fa fa-envelope-o"></i></li>
            <li class="js-article-share"><i class="fa fa-share"></i></li> -->
          </ul>
        </div>
      </div>
      <div class="property-article-content">
        <div class="article-row property-article-header-info">
          <div class="property-article-left-column">
            <ul class="property-info-list">
              <li>£2,960,000</li>
              <li>Freehold</li>
              <li>6 beds</li>
              <li>House</li>
              <li>2,903 sq ft</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi neque, dolorem voluptates. Animi, a.</p>
          </div>
          <div class="property-article-right-column">
            <ul class="property-article-contact-info">
              <li>+44 (0)20 7937 0612</li>
              <li>info@evolv.london</li>
            </ul>
          </div>
        </div>

        <div class="article-row property-article-body-info">
          <div class="property-article-left-column">
            <h2>Description</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi neque, dolorem voluptates. Animi, a. Atque esse nisi inventore, obcaecati, veniam doloremque ab delectus tenetur aperiam fugiat possimus ex, modi. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, consectetur, voluptas! Quo, nulla in voluptatum! Vitae sit, sunt, aliquam recusandae porro in non quaerat rerum nihil fuga alias, placeat, voluptatem.</p>

            <h2>Location</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita in molestias veritatis harum atque perspiciatis, nemo sed quod eius magni! Qui reiciendis porro reprehenderit, nam natus sint obcaecati ipsa perspiciatis.</p>
          </div>
          <div class="property-article-right-column">
            <h2>Details</h2>
            <ul>
              <li>6 bedrooms</li>
              <li>4 bathrooms</li>
              <li>Reception room</li>
              <li>Family/media room</li>
              <li>Kitchen breakfast room</li>
              <li>Utility room</li>
              <li>Separate W.C.</li>
              <li>Freehold</li>
              <li>Aprox 2,902 sq ft (270 sq m)</li>
            </ul>
          </div>
        </div>
        <a class="article-row sole-button" href="#">< back to search</a>
      </div>
    </article>
  </section>


  <script>
   var PROPERTY_INFO = { "address" : { "latitude": 51.499887, "longitude": -0.181306 } };

  </script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/js/property.js"></script>
