<section class="page-section white-bg">
  <div class="ContactForm-container">
    <h1 class="ContactForm-mainTitle">{{data.formTitle}}</h1>

    {{#each data.formFields}}
      {{#is type 'select'}}
        Rendering select
      {{else}}
        Rendering text
      {{/is}}
    {{/each}}

    <button type="submit" name="button" class="flat-btn navy-bg"></button>
  </div>
</section>
