<div class="navbar-container">
  <input type="checkbox" id="navbar-toggle-checkbox">
  <div class="navbar">
    <div class="navbar-left-side">
      <label class="navbar-toggle" for="navbar-toggle-checkbox">
        <span class="navbar-button js-navbar-toggle-button">
          <!-- <i class="fa fa-bars"></i> -->
          <div class="hamburger-icon">
            <div class="b-bun b-bun--top"></div>
            <div class="b-bun b-bun--mid"></div>
            <div class="b-bun b-bun--bottom"></div>
          </div>
        </span>
      </label>

      <a class="navbar-logo" href="/">
        <img src="/img/logo.svg" alt="Evolv">
      </a>
    </div>


    <div class="navbar-right-side">
      <nav class="navigation-buttons">
        <li name="buy">
          <a href="/buy"><span> Buy </span></a>
        </li>
        <li name="rent">
          <a href="/rent"> <span> Rent </span></a>
        </li>
        <li name="sell">
          <a href="/sell"> <span> Sell </span></a>
        </li>
        <li name="let">
          <a href="/let"> <span> Let </span></a>
        </li>
        <li name="register">
          <a href="/register"> <span> Register </span></a>
        </li>
        <li name="contact">
          <a href="/contact"> <span> Contact </span></a>
        </li>
        <li>
          <a href="#" class="js-valuation-modal-toggle"> <span class="navbar-button">Get a valuation</span></a>
        </li>
      </nav>
      <div class="website-search">
        <button class="navbar-button" href="#">
          <i class="fa fa-search"></i></i>
        </button>
      </div>
    </div>
  </div>
  <form class="navbar-dropdown-search js-navbar-dropdown-search" method="GET" action="/buy">
    <input class="navbar-dropdown-search-input js-navbar-dropdown-search-input"
           type="search"
           placeholder="Search"
           name="search"
           >
    <input type="submit"
           class="navbar-dropdown-search-btn"
           value="Buy"/>
    <input type="button"
           class="navbar-dropdown-search-btn js-navbar-dropdow-search-rent-btn"
           value="Rent"
           />
  </form>
</div>

{{>formModal formAddress='/valuation' toggleButton='js-valuation-modal-toggle'}}

</modal>
