.let_firstSection {
  background-image:
      linear-gradient(hsla(0, 0, 0, .1), hsla(0, 0, 0, .1)),
      url('/img/let-background.jpg');
  background-position: bottom;
  color: $white;
}

.let_promotionText {
  font-size: $font-big;
}
